
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.about-us-8kF {
  align-items: flex-end;
  display: flex;
  background-color: #ffffff;
  padding-top: 0.1rem;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  .auto-group-u4x1-eyV {
    margin-bottom: 260.45rem;
    width: 100%;
    height: 449.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-335-8dm {
      position: absolute;
      left: 163.6rem;
      top: 2.5rem;
      background: linear-gradient(101.61deg, #1b2145 -0%, #7e56d8 93.39%);
      border-radius: 1rem;
      width: 14rem;
      height: 6.1rem;
    }
    .explore-courses-pmV {
      height: 2.2rem;
      top: 4.2rem;
      font-size: 2rem;
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
      width: 10rem;
      position: absolute;
      left: 165.8rem;
      line-height: 1.1;
      font-family: Saira, 'Source Sans Pro';
    }
    .background-3-iby {
      height: 93.6rem;
      position: absolute;
      left: 0;
      top: 11.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 192rem;
    }
    .group-1000014994-3PM {
      width: 48.6rem;
      height: 3.8423rem;
      position: absolute;
      left: 59.8rem;
      top: 2.9577rem;
      display: flex;
      align-items: flex-start;

      .home-MQ3 {
        text-transform: capitalize;
        white-space: nowrap;
        display: flex;
        font-weight: 500;
        line-height: 1.3;
        font-family: Saira, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 1.042rem 1.745rem 0rem 0rem;
        font-size: 2rem;
        color: #1b2336;
      }
      .vector-fQj {
        margin-right: 1.3718rem;
        width: 1.0788rem;
        height: 0.3388rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .courses-bZH {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 1.242rem 1.87rem 0rem 0rem;
        font-size: 2rem;
        line-height: 1.3;
        text-transform: capitalize;
        color: #1b2336;
        font-family: Saira, 'Source Sans Pro';
        display: flex;
        font-weight: 500;
      }
      .vector-WRM {
        margin-right: 1.3719rem;
        width: 1.0788rem;
        height: 0.3388rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .top-colleges-rEK {
        font-family: Saira, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.3;
        color: #1b2336;
        white-space: nowrap;
        margin: 1.242rem 1.612rem 0rem 0rem;
        display: flex;
        text-transform: capitalize;
      }
      .vector-AVu {
        margin-right: 1.4783rem;
        width: 1.0788rem;
        height: 0.3388rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .about-us-Wpf {
        margin: 1.242rem 1.535rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.3;
        color: #1b2336;
        display: flex;
        text-transform: capitalize;
        font-family: Saira, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-2Y7 {
        width: 1.0788rem;
        height: 0.3388rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .group-1-Nby {
      align-items: center;
      box-sizing: border-box;
      padding-top: 0.05rem;
      position: absolute;
      top: 4.3rem;
      display: flex;
      width: 7.75rem;
      height: 2.6rem;
      left: 131.95rem;

      .icon-6H5 {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.85rem 0.15rem 0rem;
      }
      .icon-DMh {
        margin-top: 0.05rem;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .link-brand1png-xaB {
      width: 12rem;
      height: 3.3rem;
      position: relative;
      left: 24.1rem;
      top: 108.1rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
    }
    .rectangle-8681-T19 {
      width: 35.9rem;
      height: 31.3rem;
      position: absolute;
      left: 0;
      top: 317.4rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.200000003);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
    }
    .rectangle-2722-wwu {
      top: 395.6rem;
      background: linear-gradient(274.63deg, #1b2246 100%, #865aef 200.96%);
      width: 192rem;
      height: 54.1rem;
      position: absolute;
      left: 0;
    }
    .compact-edu-care-is-one-of-bangalores-top-providers-of-education-consulting-services-our-knowledgeable-advisers-have-vast-experience-in-all-major-courses-for-masters-bachelors-and-diploma-programs-as-well-as-board-knowledge-s4s {
      left: 15.6rem;
      line-height: 1.5555555556;
      color: #ffffff;
      width: 48.8rem;
      height: 14rem;
      position: absolute;
      top: 419.9rem;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Saira, 'Source Sans Pro';
    }
    .group-13184-ezj {
      top: 369.6rem;
      align-items: center;
      width: 17.4503rem;
      height: 2rem;
      position: absolute;
      left: 159.1rem;
      box-sizing: border-box;
      padding: 0.167rem 0.166rem 0.167rem 0.166rem;
      display: flex;

      .icons-facebook-line-M8T {
        margin-right: 3.4352rem;
        width: 1.6563rem;
        height: 1.6667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icons-twitter-line-54T {
        flex-shrink: 0;
        margin: 0rem 3.435rem 0rem 0rem;
        width: 1.809rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icons-instagram-line-Pqq {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.4709rem;
        width: 1.6563rem;
        height: 1.6667rem;
      }
      .icons-dribbble-line-LFH {
        width: 1.6563rem;
        height: 1.6667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .group-512856-4SB {
      top: 409.2rem;
      width: 26rem;
      height: 18.6rem;
      position: absolute;
      left: 76rem;

      .quick-links-avK {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 0.96;
        color: #ffffff;
        font-family: Rowdies, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 8.3rem 1.5rem;
        display: flex;
      }
      .auto-group-kch5-6tf {
        align-items: center;
        margin-bottom: 2.1rem;
        width: 100%;
        display: flex;

        .about-evB {
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          flex-shrink: 0;
          margin: 0.2rem 8.6rem 0rem 0rem;
          color: #ffffff;
          font-family: Saira, 'Source Sans Pro';
          white-space: nowrap;
        }
        .top-categories-Add {
          font-family: Saira, 'Source Sans Pro';
          margin-bottom: 0.2rem;
          line-height: 1.5555555556;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      .auto-group-sjs7-Vfu {
        margin-right: 5.9rem;
        width: calc(100% - 5.9rem);
        display: flex;
        align-items: center;

        .course-EtP {
          margin-right: 7.9rem;
          line-height: 1.5555555556;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          font-family: Saira, 'Source Sans Pro';
        }
        .contact-mdR {
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: #ffffff;
          font-family: Saira, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .compact-edu-care-is-one-of-bangalores-top-providers-of-education-consulting-services-our-knowledgeable-advisers-have-vast-experience-in-all-major-courses-for-masters-bachelors-and-diploma-programs-as-well-as-board-knowledge-JtF {
      top: 198.9979rem;
      font-size: 1.8rem;
      font-weight: 400;
      height: 14rem;
      left: 15.6rem;
      line-height: 1.5555555556;
      color: #ffffff;
      font-family: Saira, 'Source Sans Pro';
      width: 48.8rem;
      position: absolute;
    }
    .copyright-2024-all-rights-reserved-FS7 {
      line-height: 1.5555555556;
      font-family: Saira, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 16.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      width: 30.7rem;
      height: 2.8rem;
      top: 213.1903rem;
      color: #ffffff;
    }
    .contact-us-k7y {
      font-family: Rowdies, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.5rem;
      position: absolute;
      left: 112.6rem;
      display: flex;
      font-size: 2.5rem;
      line-height: 0.96;
      height: 2.4rem;
      top: 409.5rem;
      font-weight: 700;
      color: #ffffff;
    }
    .line-5-rRu {
      width: 160rem;
      height: 0.1rem;
      position: absolute;
      left: 16.6rem;
      top: 440.2rem;
      background-color: rgba(255, 255, 255, 0.3199999928);
    }
    .group-13190-Nv3 {
      width: 70.1031rem;
      height: 151.6829rem;
      position: absolute;
      left: 112.5969rem;
      top: 276.4171rem;
      display: flex;
      align-items: flex-end;

      .auto-group-6mdh-Vzf {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 6.315rem 1.4rem 0rem;
        width: 28.3721rem;
        height: 150.2829rem;

        .group-13189-dLB {
          box-sizing: border-box;
          height: 3.6rem;
          position: absolute;
          top: 141.6829rem;
          padding-left: 0.1188rem;
          width: 19.5695rem;
          left: 0.0031rem;
          display: flex;
          align-items: center;

          .phoneicon-1-YCF {
            flex-shrink: 0;
            margin: 0.415rem 2.676rem 0rem 0rem;
            width: 1.5745rem;
            height: 1.5777rem;
            object-fit: contain;
            vertical-align: top;
          }
          .item-91-82818-60893-91-77608-97689-ryd {
            line-height: 1;
            color: #ffffff;
            font-family: Saira, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 15.2rem;
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
        .group-13187-mKu {
          height: 150.2829rem;
          position: absolute;
          left: 0;
          top: 0;
          width: 28.3721rem;

          .group-13186-7Pm {
            vertical-align: top;
            margin-bottom: 147.6896rem;
            width: 1.6149rem;
            height: 0.7933rem;
            object-fit: contain;
          }
          .compacteducaregmailcom-r6T {
            margin-left: 4.4721rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1;
            color: #ffffff;
            font-family: Saira, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .group-13188-mUK {
        box-sizing: border-box;
        padding-left: 0.3104rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .addresslocationmapnavigationicon-1-uaX {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.862rem 2.339rem 0rem 0rem;
          width: 1.3668rem;
          height: 1.8748rem;
        }
        .krishna-kaveri-towers-80-feet-road-hesarghatta-rd-opp-sapthagiri-hospital-agb-layout-bengaluru-karnataka-560090-DbD {
          font-family: Saira, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 31.4rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3888888889;
          color: #ffffff;
        }
      }
    }
    .frame-hFV {
      overflow: hidden;
      width: 5.4286rem;
      height: 6rem;
      position: absolute;
      left: 17.1rem;
      top: 332.3rem;
    }
    .rklogo-removebg-preview-transformed-1-EWK {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
      position: absolute;
      left: 5.4rem;
    }
    .compact-edu-care-Mqq {
      position: absolute;
      left: 17.2rem;
      top: 4.7rem;
      font-weight: 400;
      color: #1a2244;
      font-family: Russo One, 'Source Sans Pro';
      width: 22rem;
      font-size: 2.4rem;
      line-height: 0.75;
      white-space: nowrap;
      height: 1.8rem;
    }
    .untitleddesign11-removebg-preview-1-1-T8B {
      width: 8.9rem;
      height: 7.8rem;
      position: absolute;
      left: 15.3rem;
      top: 405rem;
      object-fit: cover;
      vertical-align: top;
    }
    .compact-edu-care-mef {
      width: 21.5rem;
      left: 24.6rem;
      font-weight: 400;
      line-height: 0.75;
      font-family: Rowdies, 'Source Sans Pro';
      height: 1.8rem;
      position: absolute;
      top: 408.3rem;
      font-size: 2.4rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .frame-1-sxb {
      top: 0.6rem;
      overflow: hidden;
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 57.9rem;
    }
    .our-colleges-24o {
      top: 429.3rem;
      display: flex;
      font-weight: 500;
      color: #ffffff;
      font-family: Saira, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.8rem;
      position: absolute;
      left: 76rem;
      font-size: 1.8rem;
      line-height: 1.5555555556;
      width: 10.9rem;
    }
    .link-brand1png-vfy {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
      width: 12rem;
      height: 3.3rem;
      position: relative;
      left: 24.1rem;
      top: 107.9rem;
    }
    .rectangle-8713-Df5 {
      position: absolute;
      left: 0;
      top: 11.6rem;
      background-color: #1b2145;
      width: 192rem;
      height: 93.6rem;
    }
    .ellipse-8324-ZU3 {
      filter: blur(6rem);
      background-color: rgba(129, 199, 162, 0.3000000119);
      border-radius: 15.7rem;
      width: 31.4rem;
      height: 31.4rem;
      position: absolute;
      left: 0;
      top: 45.6rem;
    }
    .about-us-Ub1 {
      left: 13.8rem;
      top: 43.4rem;
      font-size: 9rem;
      color: #ffffff;
      white-space: nowrap;
      width: 39.8rem;
      height: 8rem;
      position: absolute;
      display: flex;
      font-weight: 400;
      line-height: 0.8888888889;
      font-family: Rowdies, 'Source Sans Pro';
      align-items: baseline;

      .about-us-Ub1-sub-0 {
      }
      .about-us-Ub1-sub-1 {
        line-height: 0.8888888889;
        color: #fedcaf;
        font-family: Rowdies, 'Source Sans Pro';
        font-size: 9rem;
        font-weight: 400;
      }
    }
    .rs-layer-wrap-rs-loop-wrap-rs-mask-wrap-rs-layer-successful-coaches-are-visionaries-successful-coaches-are-visionaries-myR {
      font-size: 1.8rem;
      line-height: 1.1111111111;
      font-family: Saira, 'Source Sans Pro';
      height: 2rem;
      display: flex;
      left: 14.7rem;
      top: 27.95rem;
      font-weight: 600;
      letter-spacing: 0.3rem;
      white-space: nowrap;
      width: 45.4rem;
      position: absolute;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.8000000119);
    }
    .rs-layer-wrap-rs-loop-wrap-rs-mask-wrap-QmV {
      box-sizing: border-box;
      padding: 1.1rem 0;
      width: 19.4rem;
      height: 8.2rem;
      top: 65.9rem;
      border: solid 0.2rem #ffffff;
      border-radius: 1rem;
      cursor: pointer;
      position: absolute;
      left: 14.4rem;
      overflow: hidden;

      .link-uy9 {
        height: 100%;
        font-size: 1.8rem;
        line-height: 1.5555555556;
        font-family: Saira, 'Source Sans Pro';
        white-space: nowrap;
        letter-spacing: 0.1rem;
        color: #ffffff;
        align-items: center;
        overflow: hidden;
        position: relative;
        display: flex;
        font-weight: 600;
        width: 100%;
        justify-content: center;
        border-radius: 0.5rem;
      }
    }
    .get-free-consultation-zUo {
      width: 18rem;
      left: 37.4rem;
      top: 66.3rem;
      display: flex;
      font-size: 1.8rem;
      color: #ffffff;
      white-space: nowrap;
      height: 5.2rem;
      position: absolute;
      font-weight: 500;
      line-height: 2.8888888889;
      font-family: Saira, 'Source Sans Pro';
    }
    .ellipse-8325-uLs {
      object-fit: contain;
      vertical-align: top;
      width: 74rem;
      height: 69.2rem;
      position: absolute;
      left: 111rem;
      top: 22.8rem;
    }
    .group-1000014995-S5u {
      width: 23.4rem;
      height: 15.8rem;
      position: absolute;
      left: 98.4rem;
      top: 32.4rem;

      .heading-3-ronald-richards-ZRR {
        line-height: 1.2749999762;
        color: #ffffff;
        font-family: Rowdies, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.9rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .education-is-the-most-powerful-weapon-which-you-can-use-to-change-the-world-gW3 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Saira, 'Source Sans Pro';
        margin-bottom: 2rem;
        max-width: 23.4rem;
        display: flex;
      }
      .auto-group-uvuu-BSo {
        height: 2.6rem;
        display: flex;
        align-items: center;
        margin-right: 13.353rem;
        width: calc(100% - 13.353rem);

        .item-45-ihd {
          color: #5ab48e;
          white-space: nowrap;
          display: flex;
          font-size: 1.2rem;
          font-weight: 700;
          flex-shrink: 0;
          margin-right: 0.938rem;
          line-height: 2.1000000636;
          font-family: Inter, 'Source Sans Pro';
        }
        .divinner-FBm {
          position: relative;
          flex-shrink: 0;
          margin: 0.309rem 0rem 0.391rem 0rem;
          width: 7.109rem;
          height: calc(100% - 0.7rem);

          .item--mvo {
            height: 1.8rem;
            left: 0;
            top: 0;
            line-height: 1.8;
            font-family: Font Awesome 5 Free, 'Source Sans Pro';
            white-space: nowrap;
            width: 5.6rem;
            position: absolute;
            display: flex;
            font-size: 1rem;
            font-weight: 900;
            letter-spacing: 0.5rem;
            color: #ffffff;
          }
          .divw-percent-UaK {
            line-height: 1.8;
            left: 0;
            top: 0;
            overflow: hidden;
            letter-spacing: 0.5rem;
            color: #81c7a2;
            height: 1.8rem;
            position: absolute;
            font-family: Font Awesome 5 Free, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            width: 5.6rem;
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 900;
          }
        }
      }
    }
    .group-1000014996-Zrf {
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 14.6rem;
      position: absolute;
      left: 93.5rem;
      top: 33rem;
    }
    .rectangle-8714-W1D {
      height: 31.8rem;
      position: absolute;
      left: 77.5rem;
      top: 78.2rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 22.5rem;
    }
    .rectangle-8715-oW7 {
      position: absolute;
      left: 73.1rem;
      top: 74.1rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 31.3rem;
      height: 35.9rem;
    }
    .rectangle-8716-KDZ {
      position: absolute;
      left: 75.2rem;
      top: 76.2rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 27.1rem;
      height: 33.8rem;
    }
    .mask-group-pw1 {
      top: 105.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 192rem;
      height: 16.7rem;
      position: absolute;
      left: 0;
    }
    .rectangle-8717-mbM {
      position: absolute;
      left: 0;
      top: 105.2rem;
      background: linear-gradient(180deg, rgba(27, 31, 69, 0.7799999714) 56.5%, rgba(27, 33, 69, 0) 100%);
      width: 192rem;
      height: 16.9rem;
    }
    .link-brand1png-Ukf {
      top: 111.9rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
      width: 12rem;
      height: 3.7143rem;
      position: relative;
      left: 24.1rem;
    }
    .link-brand2png-Buy {
      width: 12rem;
      height: 2.8916rem;
      position: relative;
      left: 49.4rem;
      top: 112.4rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:b1e49a5c3e0363548e9cde917bebad4234d972ac');
    }
    .link-brand3png-h7d {
      top: 110.4rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:66ecac31a0ef94e6cbae2c33b454d7f01ce20ed5');
      width: 12rem;
      height: 6.8108rem;
      position: relative;
      left: 74.7rem;
    }
    .link-brand4png-1PD {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:fc86708b57b0a2083fd19a8c8620cecd17be6976');
      width: 18rem;
      height: 3.541rem;
      position: relative;
      left: 100rem;
      top: 112rem;
    }
    .link-brand5png-XMZ {
      width: 12rem;
      height: 3.6585rem;
      position: relative;
      left: 131.3rem;
      top: 112rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:bf0a35bf72add22ebde85287de9e3973df8e3bd5');
    }
    .link-brand6png-3ao {
      top: 111.7rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:c1b1f640726c33f04f0c41d04f53e5f28fa5f84a');
      width: 14rem;
      height: 4.2424rem;
      position: relative;
      left: 156.6rem;
    }
    .frame-4-mWo {
      position: absolute;
      left: 40.2rem;
      top: 29.7rem;
      overflow: hidden;
      width: 10rem;
      height: 10rem;
    }
    .frame-5-7af {
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 31.4rem;
      top: 50.4rem;
      overflow: hidden;
    }
    .cute-freelance-girl-using-laptop-sitting-floor-smiling-removebg-preview-1-4Vu {
      width: 89.9rem;
      height: 82.9rem;
      position: absolute;
      left: 102.1rem;
      top: 23.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-8718-Aoq {
      width: 175.5rem;
      height: 74.2rem;
      position: absolute;
      left: 6.1rem;
      top: 145rem;
      background-color: rgba(214, 202, 244, 0.4199999869);
      border-radius: 9.7rem;
    }
    .rectangle-8719-hYs {
      width: 196.1605rem;
      height: 289.9409rem;
      position: absolute;
      left: 0;
      top: 105.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-1000015000-F4b {
      width: 48.8952rem;
      height: 53.5rem;
      position: absolute;
      left: 102.2rem;
      top: 264.3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(216, 235, 255, 0.5);

      .rectangle-8680-yFV {
        position: absolute;
        left: 0;
        top: 1.3rem;
        background-color: #ffffff;
        border-radius: 0 0 2rem 2rem;
        width: 38.7rem;
        height: 52.2rem;
      }
      .rectangle-8677-6L7 {
        height: 15.7rem;
        position: absolute;
        left: 0.2rem;
        top: 37.8rem;
        background-color: #ffffff;
        border-radius: 2rem;
        width: 38.5rem;
      }
      .mask-group-pX1 {
        vertical-align: top;
        width: 38.7rem;
        height: 40.4rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
      }
      .anandu-ZjV {
        height: 3.5rem;
        position: absolute;
        line-height: 1.25;
        white-space: nowrap;
        font-weight: 600;
        letter-spacing: -0.084rem;
        color: #314360;
        font-family: Saira, 'Source Sans Pro';
        width: 9.7rem;
        left: 3.4rem;
        top: 42.4rem;
        font-size: 2.8rem;
      }
      .lead-marketer-skB {
        width: 14.1rem;
        position: absolute;
        left: 4rem;
        top: 47.3rem;
        line-height: 1.5909090909;
        white-space: nowrap;
        height: 3.5rem;
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: -0.066rem;
        color: #5e6775;
        font-family: Saira, 'Source Sans Pro';
      }
    }
    .compact-edu-care-is-an-esteemed-education-consultancy-company-located-in-agb-layoutbangalore-india-they-specialize-in-offering-top-notch-education-counselling-and-college-admission-assistance-to-both-local-and-international-students-with-an-in-depth-understanding-of-the-global-education-sector-the-company-provides-personalized-guidance-to-facilitate-students-sucessfull-entry-into-prestigious-education-institutions-both-in-bangalore-and-overseas-their-services-include-college-application-assistance-career-counseling-scholarship-application-guidance-education-loan-assist-and-more-all-designed-to-offer-a-seamless-and-rewarding-educational-journey-for-students-MvF {
      font-family: Saira, 'Source Sans Pro';
      position: absolute;
      top: 167.1rem;
      left: 15.6rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.575;
      color: #1a2145;
      width: 94rem;
      height: 90.8rem;

      .compact-edu-care-is-an-esteemed-education-consultancy-company-located-in-agb-layoutbangalore-india-they-specialize-in-offering-top-notch-education-counselling-and-college-admission-assistance-to-both-local-and-international-students-with-an-in-depth-understanding-of-the-global-education-sector-the-company-provides-personalized-guidance-to-facilitate-students-sucessfull-entry-into-prestigious-education-institutions-both-in-bangalore-and-overseas-their-services-include-college-application-assistance-career-counseling-scholarship-application-guidance-education-loan-assist-and-more-all-designed-to-offer-a-seamless-and-rewarding-educational-journey-for-students-MvF-sub-0 {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.575;
        color: #1a2145;
        font-family: Saira, 'Source Sans Pro';
      }
      .compact-edu-care-is-an-esteemed-education-consultancy-company-located-in-agb-layoutbangalore-india-they-specialize-in-offering-top-notch-education-counselling-and-college-admission-assistance-to-both-local-and-international-students-with-an-in-depth-understanding-of-the-global-education-sector-the-company-provides-personalized-guidance-to-facilitate-students-sucessfull-entry-into-prestigious-education-institutions-both-in-bangalore-and-overseas-their-services-include-college-application-assistance-career-counseling-scholarship-application-guidance-education-loan-assist-and-more-all-designed-to-offer-a-seamless-and-rewarding-educational-journey-for-students-MvF-sub-1 {
        line-height: 1.575;
        color: #1a2145;
        font-family: Saira, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 500;
      }
      .compact-edu-care-is-an-esteemed-education-consultancy-company-located-in-agb-layoutbangalore-india-they-specialize-in-offering-top-notch-education-counselling-and-college-admission-assistance-to-both-local-and-international-students-with-an-in-depth-understanding-of-the-global-education-sector-the-company-provides-personalized-guidance-to-facilitate-students-sucessfull-entry-into-prestigious-education-institutions-both-in-bangalore-and-overseas-their-services-include-college-application-assistance-career-counseling-scholarship-application-guidance-education-loan-assist-and-more-all-designed-to-offer-a-seamless-and-rewarding-educational-journey-for-students-MvF-sub-2 {
      }
    }
    .ellipse-8326-vGX {
      filter: blur(21.7rem);
      background-color: rgba(128, 87, 216, 0.125);
      border-radius: 35rem;
      width: 70rem;
      height: 70rem;
      position: absolute;
      left: 0;
      top: 158.2rem;
    }
    .contact-us-Skf {
      height: 5.6rem;
      left: 78.7rem;
      font-size: 4.5rem;
      font-weight: 700;
      width: 31.6rem;
      position: absolute;
      top: 148.2rem;
      text-align: center;
      line-height: 1.2222222222;
      color: #1a2145;
      font-family: Rowdies, 'Source Sans Pro';
      white-space: nowrap;
    }
    .ellipse-8327-Msd {
      height: 16.6824rem;
      position: absolute;
      left: 10.5rem;
      top: 148.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 16.5978rem;
    }
    .unsplash-jaovgh5aj3e-Vyq {
      width: 62.6rem;
      position: absolute;
      top: 161.2rem;
      background-color: #c4c4c4;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 68.7rem;
      left: 113.5rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:0bbbce4619895d31b627e4c52c9a083065d36834');
      border-radius: 5rem;
    }
    .rectangle-10-CdM {
      border-radius: 2rem;
      width: 48.5rem;
      height: 28.6rem;
      position: absolute;
      left: 120.5rem;
      top: 214.7rem;
      background-color: #ffffff;
    }
    .looking-for-help-j7V {
      left: 129.9rem;
      font-weight: 400;
      line-height: 1.575;
      width: 28.7rem;
      height: 5.7rem;
      position: absolute;
      top: 223.1rem;
      font-size: 3.6rem;
      color: #000000;
      font-family: Saira, 'Source Sans Pro';
      white-space: nowrap;
    }
    .our-consultants-are-here-to-provide-the-support-and-expertise-your-need-to-succeed-get-in-touch-today-to-learn-how-we-can-help-3P5 {
      height: 10.4rem;
      position: absolute;
      top: 230.2rem;
      color: #000000;
      line-height: 1.575;
      font-family: Saira, 'Source Sans Pro';
      width: 44.9rem;
      left: 122.65rem;
      text-align: center;
      font-size: 2.2rem;
      font-weight: 400;
    }
    .compact-edu-care-gwq {
      height: 3.8rem;
      position: absolute;
      top: 218rem;
      text-align: center;
      font-family: Saira, 'Source Sans Pro';
      white-space: nowrap;
      width: 20.1rem;
      left: 134.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.575;
      color: #0032e0;
    }
    .contact-us-bou {
      top: 254.3rem;
      font-size: 4.5rem;
      color: #1a2145;
      white-space: nowrap;
      font-family: Rowdies, 'Source Sans Pro';
      width: 31.1rem;
      height: 5.6rem;
      position: absolute;
      left: 79.65rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2222222222;
    }
    .group-1000015001-Wfy {
      position: absolute;
      left: 58.8rem;
      top: 264.3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(216, 235, 255, 0.5);
      width: 48.8952rem;
      height: 53.5rem;

      .rectangle-8680-dkb {
        position: absolute;
        left: 0;
        top: 1.3rem;
        background-color: #ffffff;
        border-radius: 0 0 2rem 2rem;
        width: 38.7rem;
        height: 52.2rem;
      }
      .rectangle-8677-wmH {
        top: 37.8rem;
        background-color: #ffffff;
        border-radius: 2rem;
        width: 38.5rem;
        height: 15.7rem;
        position: absolute;
        left: 0.2rem;
      }
      .mask-group-UmD {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 38.7rem;
        height: 40.4rem;
        position: absolute;
        left: 0;
      }
      .james-praveen-ccX {
        height: 3.5rem;
        position: absolute;
        left: 3.4rem;
        top: 42.4rem;
        color: #314360;
        white-space: nowrap;
        width: 18.4rem;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: -0.084rem;
        font-family: Saira, 'Source Sans Pro';
      }
      .head-urX {
        width: 5.1rem;
        top: 47.3rem;
        font-size: 2.2rem;
        line-height: 1.5909090909;
        font-family: Saira, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.5rem;
        position: absolute;
        left: 4rem;
        font-weight: 600;
        letter-spacing: -0.066rem;
        color: #5e6775;
      }
    }
    .contact-us-bDZ {
      font-weight: 700;
      font-family: Rowdies, 'Source Sans Pro';
      width: 52.7rem;
      height: 5.6rem;
      position: absolute;
      left: 72.7rem;
      text-align: center;
      font-size: 4.5rem;
      top: 324.6rem;
      line-height: 1.2222222222;
      color: #1a2145;
      white-space: nowrap;
    }
    .unsplash-jaovgh5aj3e-Jdm {
      left: 60.1rem;
      top: 333.2rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 5rem;
      width: 82.1rem;
      height: 59.1rem;
      position: absolute;
    }
  }
  .auto-group-vgsh-DVq {
    box-sizing: border-box;
    padding: 8.25rem 0rem 0rem 5.25rem;
    width: 92.25rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .rectangle-8708-wRq {
      width: 100%;
      height: 11.2rem;
      background-color: #ffffff;
    }
  }
}
