
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.contact-us-Uj1 {
  overflow: hidden;
  align-items: flex-end;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 0.1rem;
  width: 100%;
  position: relative;
  flex-direction: column;

  .auto-group-ivcs-njh {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 334.35rem;
    width: 100%;
    height: 375.8rem;

    .explore-courses-Tqq {
      width: 14.7rem;
      position: absolute;
      top: 292.6rem;
      text-align: center;
      font-size: 2rem;
      font-family: Saira, 'Source Sans Pro';
      height: 3.2rem;
      left: 88.65rem;
      font-weight: 500;
      line-height: 1.575;
      color: #ffffff;
      white-space: nowrap;
    }
    .rectangle-335-YcP {
      height: 6.1rem;
      position: absolute;
      left: 163.2rem;
      top: 2.5rem;
      background: linear-gradient(101.61deg, #1b2145 -0%, #7e56d8 93.39%);
      border-radius: 1rem;
      width: 15.5rem;
    }
    .explore-courses-F11 {
      color: #ffffff;
      font-family: Saira, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      left: 166.9rem;
      top: 4.4rem;
      font-size: 2rem;
      font-weight: 500;
      width: 10rem;
      line-height: 1.1;
      white-space: nowrap;
    }
    .background-3-kTZ {
      left: 0;
      top: 11.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 192rem;
      height: 93.6rem;
      position: absolute;
    }
    .group-1000014967-UeT {
      position: absolute;
      left: 59.8rem;
      top: 2.4565rem;
      display: flex;
      align-items: flex-start;
      width: 48.6rem;
      height: 4.3435rem;

      .home-Nzj {
        font-size: 2rem;
        line-height: 1.3;
        text-transform: capitalize;
        font-family: Saira, 'Source Sans Pro';
        margin: 1.544rem 1.745rem 0rem 0rem;
        font-weight: 500;
        color: #1b2336;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .vector-UXy {
        width: 1.0788rem;
        height: 0.2833rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.3718rem;
      }
      .courses-1Xu {
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        text-transform: capitalize;
        margin: 1.744rem 1.87rem 0rem 0rem;
        line-height: 1.3;
        color: #1b2336;
        font-family: Saira, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-ix7 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.3719rem;
        width: 1.0788rem;
        height: 0.2833rem;
      }
      .top-colleges-r2j {
        font-family: Saira, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 1.744rem 1.612rem 0rem 0rem;
        display: flex;
        font-weight: 500;
        line-height: 1.3;
        font-size: 2rem;
        text-transform: capitalize;
        color: #1b2336;
      }
      .vector-Zhq {
        height: 0.2833rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.4783rem;
        width: 1.0788rem;
      }
      .about-us-6Ss {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        color: #1b2336;
        text-transform: capitalize;
        font-family: Saira, 'Source Sans Pro';
        margin: 1.744rem 1.535rem 0rem 0rem;
        font-weight: 500;
        line-height: 1.3;
      }
      .vector-QiT {
        vertical-align: top;
        flex-shrink: 0;
        width: 1.0788rem;
        height: 0.2833rem;
        object-fit: contain;
      }
    }
    .group-1-knK {
      height: 2.6rem;
      top: 4.3rem;
      display: flex;
      box-sizing: border-box;
      width: 7.75rem;
      left: 131.95rem;
      align-items: center;
      padding-top: 0.05rem;
      position: absolute;

      .icon-53u {
        margin: 0rem 2.85rem 0.15rem 0rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-Q6B {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.05rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .link-brand1png-wM1 {
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
      width: 12rem;
      height: 3.3rem;
      position: relative;
      left: 24.1rem;
      top: 108.1rem;
      background-size: 100% 100%;
    }
    .rectangle-8681-27Z {
      height: 31.3rem;
      position: absolute;
      left: 0;
      top: 317.4rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.200000003);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 35.9rem;
    }
    .rectangle-2722-XKD {
      width: 192rem;
      height: 54.1rem;
      position: absolute;
      left: 0;
      top: 321.7rem;
      background: linear-gradient(274.63deg, #1b2246 100%, #865aef 200.96%);
    }
    .compact-edu-care-is-one-of-bangalores-top-providers-of-education-consulting-services-our-knowledgeable-advisers-have-vast-experience-in-all-major-courses-for-masters-bachelors-and-diploma-programs-as-well-as-board-knowledge-dd9 {
      width: 48.8rem;
      height: 14rem;
      position: absolute;
      left: 15.6rem;
      font-size: 1.8rem;
      color: #ffffff;
      top: 342.9rem;
      font-weight: 400;
      line-height: 1.5555555556;
      font-family: Saira, 'Source Sans Pro';
    }
    .group-13184-T6P {
      height: 2rem;
      left: 159.1rem;
      top: 369.6rem;
      width: 17.4503rem;
      padding: 0.167rem 0.166rem 0.167rem 0.166rem;
      position: absolute;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .icons-facebook-line-wGT {
        height: 1.6667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.4352rem;
        width: 1.6563rem;
      }
      .icons-twitter-line-sfu {
        width: 1.809rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.435rem 0rem 0rem;
      }
      .icons-instagram-line-bro {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.4709rem;
        width: 1.6563rem;
        height: 1.6667rem;
        position: relative;
      }
      .icons-dribbble-line-KH1 {
        flex-shrink: 0;
        width: 1.6563rem;
        height: 1.6667rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-512856-GCF {
      position: absolute;
      left: 76rem;
      top: 335.3rem;
      width: 26rem;
      height: 18.6rem;

      .quick-links-Pnf {
        margin: 0rem 0rem 8.3rem 1.5rem;
        display: flex;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 0.96;
        color: #ffffff;
        font-family: Rowdies, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-tzo5-iK9 {
        align-items: center;
        margin-bottom: 2.1rem;
        width: 100%;
        display: flex;

        .about-4du {
          display: flex;
          flex-shrink: 0;
          white-space: nowrap;
          margin: 0.2rem 8.6rem 0rem 0rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: #ffffff;
          font-family: Saira, 'Source Sans Pro';
        }
        .top-categories-BCj {
          margin-bottom: 0.2rem;
          line-height: 1.5555555556;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          font-family: Saira, 'Source Sans Pro';
        }
      }
      .auto-group-xurw-6qV {
        display: flex;
        align-items: center;
        margin-right: 5.9rem;
        width: calc(100% - 5.9rem);

        .course-3Vq {
          margin-right: 7.9rem;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.5555555556;
          font-weight: 500;
          color: #ffffff;
          font-family: Saira, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .contact-zAB {
          color: #ffffff;
          font-family: Saira, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
        }
      }
    }
    .contact-us-vZd {
      font-family: Rowdies, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.5rem;
      font-weight: 700;
      line-height: 0.96;
      color: #ffffff;
      display: flex;
      font-size: 2.5rem;
      height: 2.4rem;
      position: absolute;
      left: 112.6rem;
      top: 335.6rem;
    }
    .line-5-dyq {
      position: absolute;
      left: 16.6rem;
      top: 366.3rem;
      background-color: rgba(255, 255, 255, 0.3199999928);
      width: 160rem;
      height: 0.1rem;
    }
    .group-13190-ZsV {
      left: 115.9rem;
      top: 171.4rem;
      display: flex;
      align-items: flex-end;
      width: 70.1031rem;
      height: 184.8966rem;
      position: absolute;

      .auto-group-umnf-tes {
        flex-shrink: 0;
        margin: 0rem 6.315rem 1.4rem 0rem;
        width: 28.3721rem;
        height: 183.4966rem;
        position: relative;

        .group-13189-1jV {
          padding-left: 0.1188rem;
          width: 19.5695rem;
          height: 3.6rem;
          left: 0.0031rem;
          display: flex;
          box-sizing: border-box;
          position: absolute;
          top: 174.8966rem;
          align-items: center;

          .phoneicon-1-L15 {
            margin: 0.415rem 2.676rem 0rem 0rem;
            width: 1.5745rem;
            height: 1.5777rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-91-82818-60893-91-77608-97689-3gB {
            max-width: 15.2rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1;
            color: #ffffff;
            font-family: Saira, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .group-13187-9jD {
          width: 28.3721rem;
          height: 183.4966rem;
          position: absolute;
          left: 0;
          top: 0;

          .group-13186-uCb {
            object-fit: contain;
            vertical-align: top;
            margin-bottom: 181.0333rem;
            width: 1.6149rem;
            height: 0.6632rem;
          }
          .compacteducaregmailcom-Rwd {
            margin-left: 4.4721rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1;
            color: #ffffff;
            font-family: Saira, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .group-13188-M4b {
        box-sizing: border-box;
        padding-left: 0.3104rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .addresslocationmapnavigationicon-1-uM1 {
          margin: 0.862rem 2.339rem 0rem 0rem;
          width: 1.3668rem;
          height: 1.8748rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .krishna-kaveri-towers-80-feet-road-hesarghatta-rd-opp-sapthagiri-hospital-agb-layout-bengaluru-karnataka-560090-1uq {
          max-width: 31.4rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3888888889;
          color: #ffffff;
          font-family: Saira, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .frame-J8F {
      overflow: hidden;
      width: 5.4286rem;
      height: 6rem;
      position: absolute;
      left: 17.1rem;
      top: 332.3rem;
    }
    .rklogo-removebg-preview-transformed-1-Enb {
      width: 11.6rem;
      height: 11.6rem;
      position: absolute;
      left: 5.4rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .compact-edu-care-N87 {
      position: absolute;
      left: 17.2rem;
      top: 4.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      white-space: nowrap;
      width: 22rem;
      height: 1.8rem;
      font-family: Russo One, 'Source Sans Pro';
      line-height: 0.75;
      color: #1a2244;
    }
    .untitleddesign11-removebg-preview-1-1-GDV {
      top: 331.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 8.9rem;
      height: 7.8rem;
      position: absolute;
      left: 15.3rem;
    }
    .compact-edu-care-Ywh {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 0.75;
      color: #ffffff;
      height: 1.8rem;
      position: absolute;
      left: 24.6rem;
      top: 334.4rem;
      white-space: nowrap;
      width: 21.5rem;
      font-family: Rowdies, 'Source Sans Pro';
    }
    .frame-1-fFd {
      height: 10rem;
      position: absolute;
      left: 57.9rem;
      top: 0.6rem;
      overflow: hidden;
      width: 10rem;
    }
    .our-colleges-o6w {
      height: 2.8rem;
      top: 355.4rem;
      display: flex;
      white-space: nowrap;
      font-weight: 500;
      line-height: 1.5555555556;
      color: #ffffff;
      font-family: Saira, 'Source Sans Pro';
      width: 10.9rem;
      position: absolute;
      left: 76rem;
      font-size: 1.8rem;
    }
    .link-brand1png-Ces {
      top: 107.9rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
      width: 12rem;
      height: 3.3rem;
      position: relative;
      left: 24.1rem;
    }
    .rectangle-8713-WQf {
      left: 0;
      top: 11.6rem;
      background-color: #1b2145;
      width: 192rem;
      height: 93.6rem;
      position: absolute;
    }
    .ellipse-8324-eWs {
      background-color: rgba(129, 199, 162, 0.3000000119);
      border-radius: 15.7rem;
      width: 31.4rem;
      height: 31.4rem;
      position: absolute;
      left: 0;
      top: 45.6rem;
      filter: blur(6rem);
    }
    .contact-us-Ztj {
      white-space: nowrap;
      height: 8rem;
      top: 43.4rem;
      left: 13.8rem;
      display: flex;
      font-size: 9rem;
      font-weight: 400;
      line-height: 0.8888888889;
      color: #ffffff;
      width: 48rem;
      position: absolute;
      font-family: Rowdies, 'Source Sans Pro';
      align-items: baseline;

      .contact-us-Ztj-sub-0 {
      }
      .contact-us-Ztj-sub-1 {
        font-size: 9rem;
        font-weight: 400;
        line-height: 0.8888888889;
        color: #fedcaf;
        font-family: Rowdies, 'Source Sans Pro';
      }
    }
    .rs-layer-wrap-rs-loop-wrap-rs-mask-wrap-rs-layer-successful-coaches-are-visionaries-successful-coaches-are-visionaries-GRm {
      left: 14.7rem;
      top: 27.95rem;
      text-transform: uppercase;
      height: 2rem;
      font-size: 1.8rem;
      white-space: nowrap;
      width: 45.4rem;
      letter-spacing: 0.3rem;
      color: rgba(255, 255, 255, 0.8000000119);
      line-height: 1.1111111111;
      font-family: Saira, 'Source Sans Pro';
      position: absolute;
      display: flex;
      font-weight: 600;
    }
    .rs-layer-wrap-rs-loop-wrap-rs-mask-wrap-VZR {
      position: absolute;
      left: 14.4rem;
      box-sizing: border-box;
      border-radius: 1rem;
      width: 19.425rem;
      cursor: pointer;
      top: 65.9rem;
      overflow: hidden;
      border: solid 0.2rem #ffffff;
      height: 6rem;

      .link-cP9 {
        height: 100%;
        font-weight: 600;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        width: calc(100% - 0.025rem);
        display: flex;
        margin-right: 0.025rem;
        overflow: hidden;
        letter-spacing: 0.1rem;
        font-family: Saira, 'Source Sans Pro';
        white-space: nowrap;
        position: relative;
        font-size: 1.8rem;
        line-height: 1.5555555556;
      }
    }
    .get-free-consultation-3zF {
      position: absolute;
      font-size: 1.8rem;
      left: 37.4rem;
      top: 66.3rem;
      display: flex;
      font-weight: 500;
      line-height: 2.8888888889;
      color: #ffffff;
      width: 18rem;
      height: 5.2rem;
      font-family: Saira, 'Source Sans Pro';
      white-space: nowrap;
    }
    .ellipse-8325-9XV {
      height: 69.2rem;
      position: absolute;
      left: 111rem;
      top: 22.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 74rem;
    }
    .group-1000014995-5g3 {
      left: 98.4rem;
      top: 32.4rem;
      width: 23.4rem;
      height: 15.8rem;
      position: absolute;

      .heading-3-ronald-richards-QTR {
        margin-bottom: 1.9rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2749999762;
        color: #ffffff;
        font-family: Rowdies, 'Source Sans Pro';
        white-space: nowrap;
      }
      .education-is-the-most-powerful-weapon-which-you-can-use-to-change-the-world-jVh {
        color: #ffffff;
        font-family: Saira, 'Source Sans Pro';
        margin-bottom: 2rem;
        max-width: 23.4rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .auto-group-5voy-Dvf {
        height: 2.6rem;
        display: flex;
        align-items: center;
        margin-right: 13.353rem;
        width: calc(100% - 13.353rem);

        .item-45-mBV {
          font-weight: 700;
          line-height: 2.1000000636;
          color: #5ab48e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.2rem;
          flex-shrink: 0;
          margin-right: 0.938rem;
        }
        .divinner-Hfd {
          margin: 0.409rem 0rem 0.291rem 0rem;
          width: 7.109rem;
          height: calc(100% - 0.7rem);
          position: relative;
          flex-shrink: 0;

          .item--DJP {
            width: 5.6rem;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            font-weight: 900;
            color: #ffffff;
            font-family: Font Awesome 5 Free, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.8rem;
            font-size: 1rem;
            line-height: 1.8;
            letter-spacing: 0.5rem;
          }
          .divw-percent-hzF {
            overflow: hidden;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            width: 5.6rem;
            left: 0;
            line-height: 1.8;
            letter-spacing: 0.5rem;
            color: #81c7a2;
            font-family: Font Awesome 5 Free, 'Source Sans Pro';
            height: 1.8rem;
            font-size: 1rem;
            position: absolute;
            top: 0;
            display: flex;
            font-weight: 900;
          }
        }
      }
    }
    .group-1000014996-BuR {
      vertical-align: top;
      width: 2.4rem;
      height: 14.6rem;
      position: absolute;
      left: 93.5rem;
      top: 33rem;
      object-fit: contain;
    }
    .rectangle-8714-vc7 {
      left: 77.5rem;
      top: 78.2rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 22.5rem;
      height: 31.8rem;
      position: absolute;
    }
    .rectangle-8715-2f9 {
      left: 73.1rem;
      top: 74.1rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 31.3rem;
      height: 35.9rem;
      position: absolute;
    }
    .rectangle-8716-LQw {
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 27.1rem;
      height: 33.8rem;
      position: absolute;
      left: 75.2rem;
      top: 76.2rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
    }
    .mask-group-r8P {
      height: 16.7rem;
      position: absolute;
      left: 0;
      top: 105.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 192rem;
    }
    .rectangle-8717-b5y {
      position: absolute;
      left: 0;
      top: 105.2rem;
      background: linear-gradient(180deg, rgba(27, 31, 69, 0.7799999714) 56.5%, rgba(27, 33, 69, 0) 100%);
      width: 192rem;
      height: 16.9rem;
    }
    .link-brand1png-tqm {
      width: 12rem;
      height: 3.7143rem;
      position: relative;
      left: 24.1rem;
      top: 111.9rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
    }
    .link-brand2png-C5m {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:b1e49a5c3e0363548e9cde917bebad4234d972ac');
      width: 12rem;
      height: 2.8916rem;
      position: relative;
      left: 49.4rem;
      top: 112.4rem;
    }
    .link-brand3png-uVy {
      position: relative;
      left: 74.7rem;
      top: 110.4rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:66ecac31a0ef94e6cbae2c33b454d7f01ce20ed5');
      width: 12rem;
      height: 6.8108rem;
    }
    .link-brand4png-RUK {
      width: 18rem;
      height: 3.541rem;
      position: relative;
      left: 100rem;
      top: 112rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:fc86708b57b0a2083fd19a8c8620cecd17be6976');
    }
    .link-brand5png-wSf {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:bf0a35bf72add22ebde85287de9e3973df8e3bd5');
      width: 12rem;
      height: 3.6585rem;
      position: relative;
      left: 131.3rem;
      top: 112rem;
    }
    .link-brand6png-Tfu {
      background-image: url('REPLACE_IMAGE:c1b1f640726c33f04f0c41d04f53e5f28fa5f84a');
      width: 14rem;
      height: 4.2424rem;
      position: relative;
      left: 156.6rem;
      top: 111.7rem;
      background-size: 100% 100%;
    }
    .frame-4-yu9 {
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 40.2rem;
      top: 29.7rem;
      overflow: hidden;
    }
    .frame-5-XQs {
      left: 31.4rem;
      top: 50.4rem;
      overflow: hidden;
      width: 10rem;
      height: 10rem;
      position: absolute;
    }
    .rectangle-8713-UL7 {
      background-color: rgba(214, 202, 244, 0.4199999869);
      border-radius: 9.7rem;
      width: 175.5rem;
      height: 74.2rem;
      position: absolute;
      left: 6.1rem;
      top: 135.9rem;
    }
    .rectangle-8714-Pxs {
      width: 193.2145rem;
      height: 130.7619rem;
      position: absolute;
      left: 0;
      top: 96.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-8324-8fZ {
      background-color: rgba(128, 87, 216, 0.125);
      border-radius: 35rem;
      width: 70rem;
      height: 70rem;
      position: absolute;
      left: 0;
      top: 149.1rem;
      filter: blur(21.7rem);
    }
    .contact-us-r5m {
      text-align: center;
      font-size: 4.5rem;
      font-weight: 700;
      left: 80rem;
      top: 138.2rem;
      line-height: 1.2222222222;
      color: #1a2145;
      font-family: Rowdies, 'Source Sans Pro';
      width: 25rem;
      height: 5.6rem;
      position: absolute;
      white-space: nowrap;
    }
    .ellipse-8325-kwq {
      top: 141.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 16.5978rem;
      height: 16.6824rem;
      position: absolute;
      left: 10.5rem;
    }
    .form-to9 {
      width: 288.4rem;
      height: 339.9rem;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 26.4rem;
      flex-direction: column;
      padding: 119.6rem 7.6rem 43.7rem 88.8rem;

      .fill-in-your-details-below-to-get-a-personalised-advice-o9R {
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 400;
        color: #2b292a;
        flex-shrink: 0;
        margin: 0rem 1rem 3.282rem 0rem;
        align-items: center;
        line-height: 1.575;
        font-family: Saira, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
      .auto-group-pxao-tgf {
        height: 63.8142rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 30.417rem 21.404rem 25.4rem;
        width: calc(100% - 55.8169rem);

        .image-CxF {
          margin: 0.018rem 8.17rem 0rem 0rem;
          height: 63.7rem;
          border-radius: 5rem;
          flex-shrink: 0;

          .rectangle-5-XzX {
            border-radius: 5rem;
            width: 59.9rem;
            height: 63.7rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-jfiw-qEX {
          border-radius: 5rem;
          flex-shrink: 0;
          width: 68.1135rem;
          height: 100%;
          position: relative;
          background-color: rgba(253, 254, 255, 0.4399999976);

          .auto-group-qnbh-8UX {
            top: 7.3855rem;
            display: flex;
            align-items: center;
            width: 39.6583rem;
            height: 2.4rem;
            position: absolute;
            left: 4.3297rem;

            .first-name--Sk7 {
              font-size: 1.5rem;
              font-weight: 100;
              color: #000000;
              font-family: Saira, 'Source Sans Pro';
              margin-right: 22.7583rem;
              line-height: 1.575;
              font-style: italic;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .last-name--Zpj {
              color: #000000;
              font-family: Saira, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 100;
              line-height: 1.575;
              font-style: italic;
            }
          }
          .auto-group-jasq-udh {
            left: 4.3297rem;
            top: 14.1072rem;
            display: flex;
            align-items: center;
            width: 42.9583rem;
            height: 2.4rem;
            position: absolute;

            .email-address--Efy {
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 100;
              font-style: italic;
              line-height: 1.575;
              font-family: Saira, 'Source Sans Pro';
              margin-right: 20.4583rem;
              font-size: 1.5rem;
            }
            .mobile-number--Zy9 {
              line-height: 1.575;
              font-style: italic;
              color: #000000;
              font-family: Saira, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 100;
            }
          }
          .auto-group-k1y9-WdV {
            width: 58.2925rem;
            height: 2.4rem;
            position: absolute;
            left: 4.3297rem;
            top: 20.6629rem;
            display: flex;
            align-items: center;

            .study-destination-RVZ {
              font-family: Saira, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 100;
              line-height: 1.575;
              font-style: italic;
              color: #000000;
            }
            .auto-group-wtn3-xkP {
              box-sizing: border-box;
              padding-left: 13.6839rem;
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .chevron-right-6rb {
                margin: 0.166rem 4.224rem 0rem 0rem;
                opacity: 0.55;
                width: 0.9504rem;
                height: 0.7469rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .when-do-you-plan-to-study-QsH {
                font-style: italic;
                font-family: Saira, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
                line-height: 1.575;
                color: #000000;
                margin-right: 6.0838rem;
                font-weight: 100;
              }
              .chevron-right-82b {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.166rem;
                opacity: 0.55;
                width: 0.9504rem;
                height: 0.7469rem;
              }
            }
          }
          .auto-group-wwhd-Fd1 {
            align-items: center;
            width: 58.2925rem;
            height: 2.4rem;
            position: absolute;
            left: 4.3297rem;
            top: 27.1356rem;
            display: flex;

            .mode-of-counselling-afH {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 100;
              line-height: 1.575;
              font-style: italic;
              color: #000000;
              font-family: Saira, 'Source Sans Pro';
            }
            .auto-group-9p3r-Kcs {
              padding-left: 11.7839rem;
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;

              .chevron-right-fRq {
                flex-shrink: 0;
                margin: 0.166rem 4.224rem 0rem 0rem;
                opacity: 0.55;
                width: 0.9504rem;
                height: 0.7469rem;
                object-fit: contain;
                vertical-align: top;
              }
              .fund-your-education-aoh {
                margin-right: 11.0838rem;
                font-size: 1.5rem;
                font-style: italic;
                flex-shrink: 0;
                white-space: nowrap;
                font-weight: 100;
                line-height: 1.575;
                color: #000000;
                font-family: Saira, 'Source Sans Pro';
              }
              .chevron-right-WST {
                opacity: 0.55;
                width: 0.9504rem;
                height: 0.7469rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.166rem;
              }
            }
          }
          .auto-group-csqv-qjd {
            align-items: flex-start;
            width: 58.2925rem;
            height: 2.4rem;
            position: absolute;
            left: 4.3297rem;
            top: 33.6083rem;
            display: flex;

            .preferred-study-level-BHh {
              white-space: nowrap;
              margin-right: 42.4421rem;
              font-size: 1.5rem;
              font-family: Saira, 'Source Sans Pro';
              color: #000000;
              flex-shrink: 0;
              font-weight: 100;
              line-height: 1.575;
              font-style: italic;
            }
            .chevron-right-Jt7 {
              height: 0.7469rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.166rem;
              opacity: 0.55;
              width: 0.9504rem;
            }
          }
          .auto-group-damv-eh5 {
            align-items: flex-start;
            width: 27.4121rem;
            height: 2.3rem;
            position: absolute;
            left: 4.1185rem;
            top: 43.4833rem;
            display: flex;

            .rectangle-7-aqd {
              flex-shrink: 0;
              margin-right: 0.5281rem;
              width: 1.584rem;
              height: 1.2448rem;
              border: solid 0.1rem rgba(0, 0, 0, 0.5500000119);
              box-sizing: border-box;
              background-color: rgba(238, 238, 238, 0.5500000119);
            }
            .i-agree-to-cec-terms-and-privacy-policy-WDV {
              line-height: 1.575;
              color: #000000;
              font-family: Saira, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .auto-group-fw4f-S79 {
            position: absolute;
            left: 4.1185rem;
            top: 46.3877rem;
            display: flex;
            align-items: flex-start;
            width: 46.1121rem;
            height: 2.3rem;

            .rectangle-8-Aoq {
              border: solid 0.1rem rgba(0, 0, 0, 0.5500000119);
              box-sizing: border-box;
              background-color: rgba(238, 238, 238, 0.5500000119);
              flex-shrink: 0;
              margin-right: 0.5281rem;
              width: 1.584rem;
              height: 1.2448rem;
            }
            .please-contact-me-by-phone-email-or-sms-to-assist-with-my-enquiry-tUw {
              font-weight: 400;
              line-height: 1.575;
              color: #000000;
              font-family: Saira, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
          .auto-group-mrxk-p7h {
            display: flex;
            align-items: flex-start;
            width: 34.5121rem;
            height: 2.3rem;
            position: absolute;
            left: 4.1185rem;
            top: 49.2921rem;

            .rectangle-9-k1M {
              width: 1.584rem;
              height: 1.2448rem;
              border: solid 0.1rem rgba(0, 0, 0, 0.5500000119);
              box-sizing: border-box;
              background-color: rgba(238, 238, 238, 0.5500000119);
              flex-shrink: 0;
              margin-right: 0.5281rem;
            }
            .i-would-like-to-receive-updates-and-offers-from-cec-TwM {
              font-family: Saira, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.575;
              color: #000000;
            }
          }
          .cec-will-not-share-your-details-with-others-without-your-permission--CP9 {
            font-family: Saira, 'Source Sans Pro';
            width: 49.7rem;
            height: 2.6rem;
            font-size: 1.6rem;
            color: #000000;
            line-height: 1.575;
            white-space: nowrap;
            position: absolute;
            left: 4.1185rem;
            top: 40.8278rem;
            font-weight: 400;
          }
          .auto-group-5ggf-HQb {
            width: 58.2925rem;
            height: 0.1rem;
            position: absolute;
            left: 4.3297rem;
            top: 9.958rem;
            border-top: solid 0.1rem #2b292a;
            box-sizing: border-box;
          }
          .auto-group-ovzo-CGf {
            height: 0.1rem;
            position: absolute;
            left: 4.3297rem;
            top: 16.6797rem;
            border-top: solid 0.1rem #2b292a;
            box-sizing: border-box;
            width: 58.2925rem;
          }
          .auto-group-xcgw-78j {
            height: 0.1rem;
            position: absolute;
            left: 4.3297rem;
            top: 23.0694rem;
            border-top: solid 0.1rem #2b292a;
            box-sizing: border-box;
            width: 58.2925rem;
          }
          .auto-group-1iuv-cbH {
            position: absolute;
            left: 4.3297rem;
            top: 29.5421rem;
            border-top: solid 0.1rem #2b292a;
            box-sizing: border-box;
            width: 58.2925rem;
            height: 0.1rem;
          }
          .line-9-jR1 {
            position: absolute;
            left: 4.3297rem;
            top: 36.0148rem;
            background-color: rgba(43, 41, 42, 0.5500000119);
            width: 58.2925rem;
            height: 0.1rem;
          }
          .btn-2-GQw {
            box-sizing: border-box;
            height: 3.9002rem;
            position: absolute;
            top: 53.1094rem;
            align-items: center;
            background-color: #6651cc;
            border-radius: 10rem;
            padding: 1.411rem 2.957rem 0.19rem 3.063rem;
            width: 20.6981rem;
            left: 4.2241rem;
            display: flex;

            .book-your-seat-m6o {
              color: #ffffff;
              font-family: Saira, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.2946rem;
              font-weight: 100;
              font-style: italic;
              font-size: 1.4rem;
              line-height: 1.575;
            }
            .right-hFM {
              width: 1.584rem;
              height: 1.2448rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.0552rem;
            }
          }
        }
      }
      .screenshot-47-1-nnb {
        flex-shrink: 0;
        width: 192rem;
        height: 84.1rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .group-9-8bZ {
      left: 119rem;
      top: 18.3rem;
      border-radius: 0.3rem;
      width: 63.1rem;
      height: 87.2rem;
      position: absolute;

      .mask-group-Ghm {
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;

        .pngwing-1-dYK {
          width: 63.1rem;
          height: 87.2rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.3rem;
        }
      }
    }
  }
  .auto-group-nmkb-wZ1 {
    box-sizing: border-box;
    padding: 8.25rem 0rem 0rem 5.25rem;
    width: 92.25rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .rectangle-8708-H75 {
      width: 100%;
      height: 11.2rem;
      background-color: #ffffff;
    }
  }
}
