
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192.1rem;
}.courses-1D1 {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-8eum-wsM {
    height: 133.091rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 0rem;
    width: 100%;

    .rectangle-335-3vP {
      left: 164.4rem;
      top: 2.7rem;
      background: linear-gradient(101.61deg, #1b2145 -0%, #7e56d8 93.39%);
      border-radius: 1rem;
      width: 15.5rem;
      height: 5.4rem;
      position: absolute;
    }
    .explore-courses-9Cj {
      color: #ffffff;
      white-space: nowrap;
      width: 10rem;
      top: 4.1rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.1;
      font-family: Saira, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      left: 167rem;
    }
    .group-1000014994-ddh {
      left: 59.8rem;
      top: 2.8809rem;
      display: flex;
      align-items: flex-start;
      width: 48.6565rem;
      height: 4.0191rem;
      position: absolute;

      .home-YEs {
        margin: 1.219rem 1.78rem 0rem 0rem;
        font-size: 2rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Saira, 'Source Sans Pro';
        display: flex;
        font-weight: 500;
        line-height: 1.3;
        text-transform: capitalize;
        color: #1b2336;
      }
      .vector-EtP {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.3364rem;
        width: 1.0794rem;
        height: 0.3192rem;
      }
      .courses-yqy {
        display: flex;
        line-height: 1.3;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 1.419rem 1.911rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        text-transform: capitalize;
        color: #1b2336;
        font-family: Saira, 'Source Sans Pro';
      }
      .vector-tT9 {
        flex-shrink: 0;
        margin-right: 1.5302rem;
        width: 1.0794rem;
        height: 0.3192rem;
        object-fit: contain;
        vertical-align: top;
      }
      .top-colleges-qNP {
        line-height: 1.3;
        color: #1b2336;
        font-family: Saira, 'Source Sans Pro';
        margin: 1.419rem 1.462rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        flex-shrink: 0;
        display: flex;
        text-transform: capitalize;
        white-space: nowrap;
      }
      .vector-Lpw {
        width: 1.0794rem;
        height: 0.3192rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5286rem;
      }
      .about-us-6JK {
        margin: 1.419rem 1.491rem 0rem 0rem;
        font-size: 2rem;
        flex-shrink: 0;
        display: flex;
        font-weight: 500;
        line-height: 1.3;
        text-transform: capitalize;
        color: #1b2336;
        font-family: Saira, 'Source Sans Pro';
        white-space: nowrap;
      }
      .vector-pEK {
        vertical-align: top;
        flex-shrink: 0;
        width: 1.0794rem;
        height: 0.3192rem;
        object-fit: contain;
      }
    }
    .group-1-AJB {
      width: 7.75rem;
      height: 2.6rem;
      left: 132.05rem;
      padding-top: 0.05rem;
      position: absolute;
      top: 4.4rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .icon-UZm {
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.85rem 0.15rem 0rem;
        width: 2.4rem;
      }
      .icon-13u {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.05rem;
      }
    }
    .link-brand1png-wTM {
      left: 24.1rem;
      top: 108.2rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
      width: 12rem;
      height: 3.3rem;
      position: relative;
    }
    .rklogo-removebg-preview-transformed-1-Qrj {
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
      position: absolute;
      left: 5.4rem;
      top: 0.1rem;
    }
    .compact-edu-care-XgT {
      position: absolute;
      font-weight: 400;
      font-family: Russo One, 'Source Sans Pro';
      white-space: nowrap;
      color: #1a2244;
      width: 22rem;
      height: 1.8rem;
      left: 17.2rem;
      top: 4.8rem;
      font-size: 2.4rem;
      line-height: 0.75;
    }
    .frame-1-EKy {
      overflow: hidden;
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 57.9rem;
      top: 0.7rem;
    }
    .link-brand1png-mao {
      width: 12rem;
      height: 3.3rem;
      position: relative;
      left: 24.1rem;
      top: 108rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
    }
    .rectangle-8713-TyR {
      background-color: #1b2145;
      width: 192rem;
      height: 93.6rem;
      position: absolute;
      left: 0;
      top: 11.7rem;
    }
    .ellipse-8324-onP {
      left: 0;
      top: 45.7rem;
      filter: blur(6rem);
      background-color: rgba(129, 199, 162, 0.3000000119);
      border-radius: 15.7rem;
      width: 31.4rem;
      height: 31.4rem;
      position: absolute;
    }
    .top-courses-Kkj {
      position: absolute;
      left: 13.8rem;
      color: #ffffff;
      font-family: Rowdies, 'Source Sans Pro';
      align-items: baseline;
      font-weight: 400;
      line-height: 0.8888888889;
      white-space: nowrap;
      width: 52.2rem;
      height: 8rem;
      top: 43.5rem;
      display: flex;
      font-size: 9rem;

      .top-courses-Kkj-sub-0 {
      }
      .top-courses-Kkj-sub-1 {
        font-size: 9rem;
        font-weight: 400;
        line-height: 0.8888888889;
        color: #fedcaf;
        font-family: Rowdies, 'Source Sans Pro';
      }
    }
    .rs-layer-wrap-rs-loop-wrap-rs-mask-wrap-rs-layer-successful-coaches-are-visionaries-successful-coaches-are-visionaries-pb1 {
      display: flex;
      font-weight: 600;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.8000000119);
      font-family: Saira, 'Source Sans Pro';
      width: 45.4rem;
      height: 2rem;
      position: absolute;
      line-height: 1.1111111111;
      top: 28.05rem;
      letter-spacing: 0.3rem;
      left: 14.7rem;
      font-size: 1.8rem;
      white-space: nowrap;
    }
    .get-free-consultation-eK9 {
      top: 66.4rem;
      font-size: 1.8rem;
      line-height: 2.8888888889;
      font-family: Saira, 'Source Sans Pro';
      display: flex;
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
      width: 18rem;
      height: 5.2rem;
      position: absolute;
      left: 37.4rem;
    }
    .ellipse-8325-911 {
      height: 69.2rem;
      position: absolute;
      left: 111.1rem;
      top: 22.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 74rem;
    }
    .group-1000014996-4tf {
      position: absolute;
      left: 93.5rem;
      top: 33.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 14.6rem;
    }
    .rectangle-8714-CV5 {
      left: 77.5rem;
      top: 78.3rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 22.5rem;
      height: 31.8rem;
      position: absolute;
    }
    .rectangle-8715-JHD {
      top: 74.2rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 31.3rem;
      height: 35.9rem;
      position: absolute;
      left: 73.1rem;
    }
    .rectangle-8716-Qb9 {
      border: solid 0.3rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 27.1rem;
      height: 33.8rem;
      position: absolute;
      left: 75.2rem;
      top: 76.3rem;
    }
    .mask-group-vpP {
      object-fit: contain;
      vertical-align: top;
      width: 192rem;
      height: 16.7rem;
      position: absolute;
      left: 0;
      top: 105.5rem;
    }
    .rectangle-8717-5BV {
      width: 192rem;
      height: 16.9rem;
      position: absolute;
      left: 0;
      top: 105.3rem;
      background: linear-gradient(180deg, rgba(27, 31, 69, 0.7799999714) 56.5%, rgba(27, 33, 69, 0) 100%);
    }
    .link-brand1png-b9q {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:a0f8fa976c4d4447bb64f8aa75c0e5c4b008f483');
      width: 12rem;
      height: 3.7143rem;
      position: relative;
      left: 24.1rem;
      top: 112rem;
    }
    .link-brand2png-W1u {
      position: relative;
      left: 49.4rem;
      top: 112.5rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:b1e49a5c3e0363548e9cde917bebad4234d972ac');
      width: 12rem;
      height: 2.8916rem;
    }
    .link-brand3png-1zF {
      width: 12rem;
      height: 6.8108rem;
      position: relative;
      left: 74.7rem;
      top: 110.5rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:66ecac31a0ef94e6cbae2c33b454d7f01ce20ed5');
    }
    .link-brand4png-Lmd {
      top: 112.1rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:fc86708b57b0a2083fd19a8c8620cecd17be6976');
      width: 18rem;
      height: 3.541rem;
      position: relative;
      left: 100.1rem;
    }
    .link-brand5png-Spf {
      top: 112.1rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:bf0a35bf72add22ebde85287de9e3973df8e3bd5');
      width: 12rem;
      height: 3.6585rem;
      position: relative;
      left: 131.4rem;
    }
    .link-brand6png-Mwd {
      width: 14rem;
      height: 4.2424rem;
      position: relative;
      left: 156.7rem;
      top: 111.8rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:c1b1f640726c33f04f0c41d04f53e5f28fa5f84a');
    }
    .frame-4-V2F {
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 40.4rem;
      top: 29.8rem;
      overflow: hidden;
    }
    .frame-5-dPM {
      top: 50.5rem;
      overflow: hidden;
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 31.4rem;
    }
    .image-um5zotw7r-transformed-1-yCK {
      object-fit: cover;
      vertical-align: top;
      width: 116.7rem;
      height: 87.9rem;
      position: absolute;
      left: 86.8rem;
      top: 18.1rem;
    }
    .group-1000014995-HTu {
      width: 23.4rem;
      height: 59.791rem;
      position: absolute;
      left: 98.8rem;
      top: 0;

      .divinner-R4K {
        margin: 0rem 0rem 42.091rem 2.938rem;
        width: 7.109rem;
        height: 1.9rem;
        position: relative;

        .item--LSB {
          display: flex;
          font-weight: 900;
          letter-spacing: 0.5rem;
          color: #ffffff;
          font-size: 1rem;
          line-height: 1.8;
          font-family: Font Awesome 5 Free, 'Source Sans Pro';
          width: 5.6rem;
          height: 1.8rem;
          position: absolute;
          left: 0;
          top: 0;
          white-space: nowrap;
        }
        .divw-percent-ps9 {
          top: 0;
          font-weight: 900;
          color: #81c7a2;
          align-items: center;
          white-space: nowrap;
          justify-content: center;
          left: 0;
          overflow: hidden;
          line-height: 1.8;
          letter-spacing: 0.5rem;
          width: 5.6rem;
          height: 1.8rem;
          position: absolute;
          display: flex;
          font-size: 1rem;
          font-family: Font Awesome 5 Free, 'Source Sans Pro';
        }
      }
      .heading-3-ronald-richards-ihd {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2749999762;
        color: #ffffff;
        font-family: Rowdies, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.9rem;
        display: flex;
      }
      .education-is-the-most-powerful-weapon-which-you-can-use-to-change-the-world-Evs {
        margin-bottom: 2rem;
        max-width: 23.4rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Saira, 'Source Sans Pro';
      }
      .auto-group-q4vd-jcj {
        margin-right: 14.8621rem;
        width: calc(100% - 14.8621rem);
        display: flex;
        align-items: center;

        .item-45-UKR {
          line-height: 2.1000000636;
          color: #5ab48e;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 0.9379rem;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.2rem;
        }
        .item--nL7 {
          letter-spacing: 0.5rem;
          font-family: Font Awesome 5 Free, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          line-height: 1.8;
          color: #81c7a2;
          margin-bottom: 0.182rem;
          font-weight: 900;
        }
      }
    }
  }
  .auto-group-rhhh-te3 {
    height: 301.2966rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 286.7534rem;
    width: 207.1rem;

    .explore-courses-nzK {
      position: absolute;
      left: 88.65rem;
      top: 170.5rem;
      text-align: center;
      line-height: 1.575;
      white-space: nowrap;
      width: 14.7rem;
      height: 3.2rem;
      font-size: 2rem;
      font-weight: 500;
      color: #ffffff;
      font-family: Saira, 'Source Sans Pro';
    }
    .rectangle-294-u3M {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 193.7rem;
      height: 36.2rem;
      position: absolute;
      left: 0;
    }
    .rectangle-8718-S3H {
      top: 242.8966rem;
      border: solid 0.3rem rgba(255, 255, 255, 0.200000003);
      box-sizing: border-box;
      border-radius: 50rem 50rem 0 0;
      width: 35.9rem;
      height: 31.3rem;
      position: absolute;
      left: 0;
    }
    .rectangle-8719-wVq {
      width: 192rem;
      height: 54.1rem;
      position: absolute;
      left: 0.1rem;
      top: 247.1966rem;
      background: linear-gradient(274.63deg, #1b2246 100%, #865aef 200.96%);
    }
    .compact-edu-care-is-one-of-bangalores-top-providers-of-education-consulting-services-our-knowledgeable-advisers-have-vast-experience-in-all-major-courses-for-masters-bachelors-and-diploma-programs-as-well-as-board-knowledge-3Ys {
      left: 17.2rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.5555555556;
      color: #ffffff;
      width: 48.8rem;
      height: 14rem;
      position: absolute;
      top: 268.3rem;
      font-family: Saira, 'Source Sans Pro';
    }
    .compact-edu-care-is-one-of-bangalores-top-providers-of-education-consulting-services-our-knowledgeable-advisers-have-vast-experience-in-all-major-courses-for-masters-bachelors-and-diploma-programs-as-well-as-board-knowledge-s27 {
      height: 14rem;
      font-weight: 400;
      line-height: 1.5555555556;
      font-family: Saira, 'Source Sans Pro';
      width: 48.8rem;
      position: absolute;
      left: 15.9154rem;
      top: 184.8837rem;
      font-size: 1.8rem;
      color: #ffffff;
    }
    .group-1000014997-6Qf {
      box-sizing: border-box;
      width: 17.8503rem;
      height: 2rem;
      display: flex;
      padding: 0.167rem 0.166rem 0.167rem 0.166rem;
      position: absolute;
      left: 161.4rem;
      top: 295.0966rem;
      align-items: center;

      .icons-facebook-line-nYP {
        margin-right: 3.6353rem;
        width: 1.6563rem;
        height: 1.6667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icons-twitter-line-iS3 {
        width: 1.809rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.435rem 0rem 0rem;
      }
      .icons-instagram-line-EvB {
        margin-right: 3.671rem;
        width: 1.6563rem;
        height: 1.6667rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icons-dribbble-line-ycs {
        flex-shrink: 0;
        width: 1.6563rem;
        height: 1.6667rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-1000014998-8Es {
      left: 76.9rem;
      top: 260.7966rem;
      width: 26.2rem;
      height: 18.6rem;
      position: absolute;

      .quick-links-rRm {
        font-weight: 700;
        line-height: 0.96;
        color: #ffffff;
        font-family: Rowdies, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 8.3rem 1.5rem;
        display: flex;
        font-size: 2.5rem;
      }
      .auto-group-6mrz-Nf1 {
        margin-bottom: 2.1rem;
        width: 100%;
        display: flex;
        align-items: center;

        .about-88P {
          color: #ffffff;
          white-space: nowrap;
          margin: 0.2rem 8.8rem 0rem 0rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          font-family: Saira, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .top-categories-qoV {
          display: flex;
          font-family: Saira, 'Source Sans Pro';
          margin-bottom: 0.2rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .auto-group-rjwh-mh9 {
        display: flex;
        align-items: center;
        margin-right: 5.9rem;
        width: calc(100% - 5.9rem);

        .course-isH {
          display: flex;
          font-size: 1.8rem;
          line-height: 1.5555555556;
          font-family: Saira, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 8.1rem;
          color: #ffffff;
          flex-shrink: 0;
          font-weight: 500;
        }
        .contact-G87 {
          font-weight: 500;
          line-height: 1.5555555556;
          color: #ffffff;
          font-family: Saira, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
        }
      }
    }
    .contact-us-bw5 {
      height: 2.4rem;
      top: 261.0966rem;
      font-size: 2.5rem;
      color: #ffffff;
      white-space: nowrap;
      font-family: Rowdies, 'Source Sans Pro';
      width: 13.5rem;
      position: absolute;
      left: 114.3rem;
      display: flex;
      font-weight: 700;
      line-height: 0.96;
    }
    .line-6-vCf {
      left: 16.7rem;
      top: 291.7966rem;
      background-color: rgba(255, 255, 255, 0.3199999928);
      width: 160rem;
      height: 0.1rem;
      position: absolute;
    }
    .group-1000014999-r6K {
      height: 231.293rem;
      position: absolute;
      left: 114.2432rem;
      top: 48.4036rem;
      display: flex;
      align-items: flex-end;
      width: 70.7568rem;

      .auto-group-cap1-nEs {
        margin: 0rem 6.715rem 1.4rem 0rem;
        width: 28.4258rem;
        height: 229.893rem;
        position: relative;
        flex-shrink: 0;

        .group-13189-WwZ {
          left: 0.0568rem;
          top: 221.293rem;
          padding-left: 0.1188rem;
          width: 19.5695rem;
          position: absolute;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          height: 3.6rem;

          .phoneicon-1-RYj {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.415rem 2.676rem 0rem 0rem;
            width: 1.5745rem;
            height: 1.5777rem;
          }
          .item-91-82818-60893-91-77608-97689-MBV {
            max-width: 15.2rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1;
            color: #ffffff;
            font-family: Saira, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .group-13187-rP9 {
          top: 0;
          width: 28.4258rem;
          height: 229.893rem;
          position: absolute;
          left: 0;

          .group-13186-CT1 {
            vertical-align: top;
            margin-bottom: 227.5716rem;
            width: 1.6371rem;
            height: 0.5214rem;
            object-fit: contain;
          }
          .compacteducaregmailcom-M51 {
            line-height: 1;
            color: #ffffff;
            font-family: Saira, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 4.5258rem;
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
      }
      .group-13188-B43 {
        box-sizing: border-box;
        padding-left: 0.3104rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .addresslocationmapnavigationicon-1-8V5 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.862rem 2.539rem 0rem 0rem;
          width: 1.3668rem;
          height: 1.8748rem;
        }
        .krishna-kaveri-towers-80-feet-road-hesarghatta-rd-opp-sapthagiri-hospital-agb-layout-bengaluru-karnataka-560090-Eo1 {
          line-height: 1.3888888889;
          color: #ffffff;
          font-family: Saira, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 31.4rem;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
    .frame-iTH {
      height: 6rem;
      position: absolute;
      left: 17.2rem;
      top: 257.7966rem;
      overflow: hidden;
      width: 5.4286rem;
    }
    .untitleddesign11-removebg-preview-1-2-rZV {
      left: 15.4rem;
      top: 256.5966rem;
      object-fit: cover;
      vertical-align: top;
      width: 8.9rem;
      height: 7.8rem;
      position: absolute;
    }
    .compact-edu-care-mRZ {
      width: 21.5rem;
      height: 1.8rem;
      left: 24.7rem;
      font-size: 2.4rem;
      line-height: 0.75;
      white-space: nowrap;
      position: absolute;
      top: 259.8966rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Rowdies, 'Source Sans Pro';
    }
    .our-colleges-U55 {
      font-size: 1.8rem;
      color: #ffffff;
      white-space: nowrap;
      width: 10.9rem;
      position: absolute;
      display: flex;
      font-weight: 500;
      line-height: 1.5555555556;
      font-family: Saira, 'Source Sans Pro';
      height: 2.8rem;
      left: 76.9rem;
      top: 280.8966rem;
    }
    .group-5-aP1 {
      align-items: flex-start;
      width: 171.2639rem;
      height: 211.3rem;
      position: absolute;
      left: 8.9rem;
      top: 31.5rem;
      display: flex;

      .auto-group-qvjh-6MM {
        margin: 9.715rem 4.81rem 0rem 0rem;
        width: 53.6811rem;
        flex-shrink: 0;

        .auto-group-fzgs-p2T {
          margin-bottom: 5.4357rem;
          box-sizing: border-box;
          padding: 5.436rem 6.579rem 18.063rem 6.579rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: rgba(255, 221, 176, 0.3199999928);

          .medical-XxT {
            margin-bottom: 1.1262rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.575;
            color: #313e72;
            font-family: Saira, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .mbbs-bums-unani-bhms-homeopathy-bams-ayurveda-bsms-sidha-bnys-naturopathy-bds-dental-bvsc-veterinary-GQF {
            max-width: 16.6rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5430000093;
            color: #2b292a;
            font-family: Saira, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.3947rem;
          }
        }
        .humanities-8ST {
          white-space: nowrap;
          margin: 0rem 0rem 1.126rem 6.579rem;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.575;
          color: #313e72;
          font-family: Saira, 'Source Sans Pro';
        }
        .gnm-criminology-economics-fine-arts-journalism-physical-education-political-science-psychology-travel-tourism-3pK {
          font-family: Saira, 'Source Sans Pro';
          margin: 0rem 0rem 15.248rem 6.973rem;
          max-width: 15.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5430000093;
          color: #2b292a;
        }
        .auto-group-2gcp-7pB {
          margin-bottom: 5.4357rem;
          box-sizing: border-box;
          padding: 5.436rem 6.579rem 15.363rem 6.579rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: rgba(255, 221, 176, 0.3199999928);

          .science-3C3 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1262rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.575;
            color: #313e72;
            font-family: Saira, 'Source Sans Pro';
          }
          .bsc-physics-chemistry-bsc-computer-science-bsc-mathematics-bsc-dietician-nutritionist-bsc-agriculture-science-bsc-sericulture-bsc-oceanography-bsc-melsorology-bsc-arthopology-ahm {
            color: #2b292a;
            font-family: Saira, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.3947rem;
            max-width: 22.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5430000093;
          }
        }
        .architecture-EnK {
          margin: 0rem 0rem 1.126rem 6.579rem;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.575;
          color: #313e72;
          font-family: Saira, 'Source Sans Pro';
          white-space: nowrap;
        }
        .barch-march-Mc3 {
          max-width: 5.9rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5430000093;
          color: #2b292a;
          font-family: Saira, 'Source Sans Pro';
          margin-left: 6.9732rem;
        }
      }
      .auto-group-c7bu-VCT {
        width: 53.6811rem;
        height: 100%;
        flex-shrink: 0;
        margin-right: 5.4103rem;

        .auto-group-6dpm-EA3 {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 0rem 6.779rem 6.94rem 6.779rem;
          width: 100%;
          align-items: center;

          .rectangle-4-MkT {
            flex-shrink: 0;
            margin: 0rem 14.794rem 14.804rem 15.594rem;
            width: calc(100% - 30.3878rem);
            height: 0.347rem;
            background-color: #1b2145;
          }
          .management-sio {
            color: #313e72;
            font-family: Saira, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 24.524rem 1.149rem 0rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.575;
          }
          .bba-bbmbba-aviation-bba-air-cargo-management-bba-aeronautical-bba-retail-marketing-bba-customer-care-management-bba-airline-airport-management-bba-store-management-bba-mail-management-bca-bca-cloud-computing-NQf {
            flex-shrink: 0;
            margin-right: 10.2639rem;
            max-width: 29rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5430000093;
            color: #2b292a;
            font-family: Saira, 'Source Sans Pro';
          }
        }
        .auto-group-tmxm-cpo {
          height: 60.0599rem;
          position: relative;
          margin-bottom: 0.3115rem;
          width: 100%;

          .rectangle-53-xNs {
            top: 0;
            background-color: rgba(255, 221, 176, 0.3199999928);
            width: 53.6811rem;
            height: 50.4252rem;
            position: absolute;
            left: 0;
          }
          .law-5yH {
            font-weight: 700;
            font-family: Saira, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.5rem;
            position: absolute;
            left: 6.7785rem;
            top: 55.7453rem;
            width: 4.8rem;
            font-size: 2.2rem;
            line-height: 1.575;
            color: #313e72;
          }
          .it-software-CHD {
            position: absolute;
            left: 6.7785rem;
            top: 5.4358rem;
            font-weight: 700;
            line-height: 1.575;
            white-space: nowrap;
            width: 16.6rem;
            height: 3.5rem;
            font-size: 2.2rem;
            color: #313e72;
            font-family: Saira, 'Source Sans Pro';
          }
          .artificial-intelligence-computer-engineering-computer-graphics-data-analysis-game-development-information-technology-information-systems-it-security-software-engineering-web-development-6dV {
            line-height: 1.5430000093;
            font-family: Saira, 'Source Sans Pro';
            width: 19.8rem;
            left: 7.2086rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: #2b292a;
            height: 50rem;
            position: absolute;
            top: 10.0599rem;
          }
        }
        .llb-ballbbcom-llb-bbm-llb-bballb-vsR {
          font-weight: 400;
          line-height: 1.5430000093;
          color: #2b292a;
          font-family: Saira, 'Source Sans Pro';
          margin: 0rem 0rem 26.463rem 7.173rem;
          max-width: 10.3rem;
          font-size: 1.8rem;
        }
        .auto-group-ahr1-S55 {
          box-sizing: border-box;
          padding: 5.436rem 6.779rem 20.863rem 6.779rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: rgba(255, 221, 176, 0.3199999928);

          .polytechnic-Mxj {
            margin-bottom: 1.1262rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.575;
            color: #313e72;
            font-family: Saira, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .civil-engg-mechanical-engg-automobile-engg-computer-science-engg-electronic-engg-electrical-engg-petro-chemical-engg-WKq {
            margin-left: 0.3947rem;
            max-width: 20rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5430000093;
            color: #2b292a;
            font-family: Saira, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-cthh-Bwm {
        margin-top: 9.7149rem;
        width: 53.6811rem;
        flex-shrink: 0;

        .auto-group-wzrx-jCb {
          display: flex;
          flex-direction: column;
          background-color: rgba(255, 221, 176, 0.3199999928);
          margin-bottom: 5.4357rem;
          box-sizing: border-box;
          padding: 5.436rem 6.578rem 4.14rem 6.578rem;
          width: 100%;

          .paramedical-Fgj {
            margin-bottom: 1.1494rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.575;
            color: #313e72;
            font-family: Saira, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .nursing-pharm-d-bpharm-dpharm-mpharm-anesthesia-technical-cardiac-care-technical-perfusion-technology-clinical-optometry-dental-hygiene-dental-technician-medical-x-ray-technician-nuclear-medicine-tech-ngf {
            font-family: Saira, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.4389rem;
            max-width: 21.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5430000093;
            color: #2b292a;
          }
        }
        .commerce-RUj {
          font-weight: 700;
          line-height: 1.575;
          color: #313e72;
          font-family: Saira, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.126rem 6.578rem;
          font-size: 2.2rem;
        }
        .c-a-cma-cost-management-account-cs-company-secretary-bcom-regular-bcom-taxation-tax-procedure-bcom-travel-tourism-bcom-bank-management-bcom-professional-bba-bbm-regular-bfm-bachelor-of-financial-ZL3 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5430000093;
          color: #2b292a;
          font-family: Saira, 'Source Sans Pro';
          margin: 0rem 0rem 12.448rem 6.973rem;
          max-width: 38.7rem;
        }
        .auto-group-h7nf-nib {
          width: 100%;
          height: 57.3619rem;
          position: relative;

          .rectangle-56-LVD {
            top: 0;
            background-color: rgba(255, 221, 176, 0.3199999928);
            width: 53.6811rem;
            height: 50.4252rem;
            position: absolute;
            left: 0;
          }
          .aerospace-engineering-civil-engineering-computer-science-engineering-information-science-artificial-intelligence-machine-learning-electrical-engineering-industrial-engineering-mechanical-engineering-petroleum-engineering-automobile-engineering-bio-technological-engineering-5Bu {
            color: #2b292a;
            font-family: Saira, 'Source Sans Pro';
            height: 47.3rem;
            font-weight: 400;
            left: 6.973rem;
            top: 10.0619rem;
            font-size: 1.8rem;
            line-height: 1.5430000093;
            width: 34.4rem;
            position: absolute;
          }
          .engineering-5bD {
            width: 12.5rem;
            height: 3.5rem;
            position: absolute;
            font-weight: 700;
            line-height: 1.575;
            color: #313e72;
            font-family: Saira, 'Source Sans Pro';
            left: 6.5783rem;
            top: 5.4357rem;
            font-size: 2.2rem;
            white-space: nowrap;
          }
        }
      }
    }
    .more-courses-from-catagories-nVd {
      left: 78.8rem;
      font-weight: 400;
      line-height: 1.5555555556;
      color: #1b2145;
      display: flex;
      width: 33.7rem;
      height: 7rem;
      top: 9.7rem;
      align-items: baseline;
      position: absolute;
      letter-spacing: -0.135rem;
      font-size: 4.5rem;
      font-family: Rowdies, 'Source Sans Pro';
      white-space: nowrap;

      .more-courses-from-catagories-nVd-sub-0 {
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 1.5555555556;
        letter-spacing: -0.135rem;
        color: #000000;
        font-family: Rowdies, 'Source Sans Pro';
      }
      .more-courses-from-catagories-nVd-sub-1 {
      }
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-temporidunt-ut-labore-veniam-5t3 {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      width: 68.8rem;
      height: 7rem;
      position: absolute;
      left: 60.45rem;
      top: 20.6rem;
      line-height: 1.4;
      color: #4d586b;
      font-family: Saira, 'Source Sans Pro';
    }
  }
  .auto-group-5shm-xB9 {
    box-sizing: border-box;
    padding: 8.25rem 0rem 0rem 5.25rem;
    width: 92.25rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .rectangle-8708-5mZ {
      width: 100%;
      height: 11.2rem;
      background-color: #ffffff;
    }
  }
}
